fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.30
pymysql==1.1.0
pydantic==2.7.1
pydantic-settings==2.2.1
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
python-multipart==0.0.9
cloudinary==1.40.0
bleach==6.1.0
apscheduler==3.10.4
python-dotenv==1.0.1
